.bg {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/cloud.jpg") top left/cover no-repeat;
  color: white;
  margin: 0;
  padding: 5rem;
  font-size: xxx-large;
  text-align: center;
}
