<div class="drive-container">

  <mat-toolbar class="toolbar-item" color="primary">
    <div class="toolbar-button-group" [class.ml]="openSideNav">
      <button mat-icon-button class="mat-app-background" (click)="openSideNav = !openSideNav">
        <mat-icon>menu</mat-icon>
      </button>
      <span> PrimeBOX </span>
    </div>
    <div class="toolbar-button-group">
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon [matBadgeHidden]="notificationService.counter === 0" [matBadge]="notificationService.counter" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <mat-menu (close)="notificationService.resetCounter()" class="menu-container" #notificationMenu="matMenu" (click)="$event.stopPropagation()">
        <div class="menu-header-container">
          <span style="font-style: oblique; font-size: large">Notifications</span>
          <a mat-button color="primary" (click)="clearNotifications($event)">Clear</a>
        </div>
        <mat-divider></mat-divider>
        <mat-list>
          <h4 *ngIf="notificationService.notifications.length === 0">There are no notifications</h4>
          <mat-list-item *ngFor="let notification of notificationService.notifications">
            <h2 matLine> {{notification.type}} </h2>
            <p matLine> {{notification.message}} </p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="uploadMenu">
        <mat-icon [matBadgeHidden]="uploadProgressService.counter === 0" [matBadge]="uploadProgressService.counter" matBadgeColor="warn">cloud_upload</mat-icon>
      </button>
      <mat-menu (close)="uploadProgressService.resetCounter()" class="menu-container" #uploadMenu="matMenu" (click)="$event.stopPropagation()">
        <div class="menu-header-container">
          <span style="font-style: oblique; font-size: large">Uploads</span>
          <a mat-button color="primary" (click)="clearUploads($event)">Clear</a>
        </div>
        <mat-divider></mat-divider>
        <mat-list>
          <h4 *ngIf="uploadProgressService.uploadFiles.length === 0">There are no uploads</h4>
          <mat-list-item *ngFor="let uploadFile of uploadProgressService.uploadFiles">
            <h2 matLine> {{uploadFile.name}} </h2>
            <mat-progress-bar mat-line mode="determinate"
                              style="height: 8px;  border-radius: 100px;"
                              [color]="uploadFile.success ? 'primary' : 'accent'"
                              [value]="uploadFile.success ? 100 : uploadFile.uploaded / uploadFile.size * 100">
            </mat-progress-bar>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu" aria-label="Example icon-button with a menu">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item  [routerLink]="'/drive/storage'">
          <mat-icon>cloud</mat-icon>
          <span> Storage </span>
        </button>
        <button mat-menu-item [routerLink]="'/drive/profile'">
          <mat-icon>person_outline</mat-icon>
          <span> Profile </span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span> Logout </span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="table-item">
    <mat-sidenav mode="side" [opened]="openSideNav">
      <mat-nav-list role="navigation">
        <a mat-list-item class="custom-list-item" [routerLink]="'/drive/my-files'" routerLinkActive="custom-list-item-active">
          <mat-icon class="right-space">folder</mat-icon>
          <span> My files </span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item class="custom-list-item" [routerLink]="'/drive/shared-with-me'"  routerLinkActive="custom-list-item-active">
          <mat-icon class="right-space">folder_shared</mat-icon>
          <span> Shared with me </span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item class="custom-list-item" [routerLink]="'/drive/storage'"  routerLinkActive="custom-list-item-active">
          <mat-icon class="right-space">cloud</mat-icon>
          <span> Storage </span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item class="custom-list-item" [routerLink]="'/drive/profile'"  routerLinkActive="custom-list-item-active">
          <mat-icon class="right-space">account_circle</mat-icon>
          <span> Profile </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-app-background">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
