.shared-container {
  height: 100%;
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 25% 15% 60%;
  grid-template-areas:
    "info info info"
    ". search ."
    ". tab .";
}

.info-container {
  grid-area: info;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-footer-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.first-card {
  max-width: 40%;
  max-height: 170px;
  background: linear-gradient(50deg, #d50000, #ff9e80) !important;
  color: white;
}

.second-card {
  max-width: 40%;
  max-height: 170px;
  background: linear-gradient(50deg, #ee3476, #f1b1ad) !important;
  //background: linear-gradient(50deg, #ff7043, #ffd86f) !important;
  //background: linear-gradient(50deg, #d50000, #ff9e80) !important;
  color: white;
}

.search-item {
  grid-area: search;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mat-progress-bar-fill::after {
  background-color: #ffffff;
}

td.mat-cell {
  max-width: 15vw;
}

.tab-item {
  grid-area: tab;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 60%;
}
