<div class="row justify-content-center mt-3">
  <div class="col-8">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
  </div>
  <div class="col-12">
    <table class="table table-responsive-sm table-hover mt-3">
      <thead>
      <tr>
        <th class="pb-3 pr-0">
          File
        </th>
        <th class="pl-0">
            <i [class]="filenameAsc?'fas fa-long-arrow-alt-down p-2':'fas fa-long-arrow-alt-up p-2'"
               (click)="onSortFilename()"></i>
        </th>
        <th>
          <div class="d-flex flex-row align-items-baseline">
            <label class="mb-0">From</label>
            <i [class]="nameAsc?'fas fa-long-arrow-alt-down p-2':'fas fa-long-arrow-alt-up p-2'"
               (click)="onSortName()"></i>
          </div>
        </th>
        <th>
          <div class="d-flex flex-row align-items-baseline">
            <label class="mb-0">Size</label>
            <i [class]="sizeAsc?'fas fa-long-arrow-alt-down p-2':'fas fa-long-arrow-alt-up p-2'"
               (click)="onSortSize()"></i>
          </div>
        </th>
        <th class="pb-3">Message</th>
        <th>
          <div class="d-flex flex-row align-items-baseline justify-content-center">
            <label class="mb-0">Share</label>
            <label class="mb-0 ml-1">at</label>
            <i [class]="shareDateAsc?'fas fa-long-arrow-alt-down p-2':'fas fa-long-arrow-alt-up p-2'"
               (click)="onSortShareDate()"></i>
          </div>
        </th>
        <th class="text-center pb-3">Download</th>
        <th class="text-center pb-3">Share</th>
        <th class="text-center pb-3">Discard</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of shareds
                                    | searchShareds: search
                                    | sortString: 'sharedFileFilename' : filenameAsc
                                    | sortString: 'sharedUserEmail' : nameAsc
                                    | sortNumber: 'sharedFileSize' : sizeAsc
                                    | sortNumber: 'shareDate' : shareDateAsc">
        <td class="pr-0">
          <i [class]="file.sharedFileFilename | icon"></i>
        </td>
        <td class="trim-text"
            data-toggle="tooltip"
            data-placement="top"
            [title]="file.sharedFileFilename">{{file.sharedFileFilename}}
        </td>
        <td data-toggle="tooltip"
            data-placement="top"
            [title]="file.sharedUserName + ' ' + file.sharedUserSurname">{{file.sharedUserEmail}}
        </td>
        <td>{{file.sharedFileSize | numberToSize}}</td>
        <td class="trim-text" (click)="openMessageModal(file.message)">{{file.message}}</td>
        <td class="text-center">{{file.shareDate | date:'dd.MM.yyyy.'}}</td>
        <td class="text-center">
          <i class="fas fa-cloud-download-alt text-success" (click)="openDownloadModal(file)"></i>
        </td>
        <td class="text-center">
          <i class="fas fa-user-plus text-primary" (click)="openShareModal(file)"></i>
        </td>
        <td class="text-center">
          <i class="fas fa-trash-alt text-danger" (click)="openDiscardModal(file)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
