.btn:focus {
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
  box-shadow: none;
}

label{
  margin: 0;
}

th {
  border: 0;
}

i:hover {
  background-color: lightgray;
  border-radius: 50%;
}

.table td {
  vertical-align: middle;
}

th {
  opacity: 0.7;
}

.fa-trash-alt {
  padding: .65rem;
}

.fa-cloud-download-alt {
  padding: .65rem;
}

.trim-text {
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
