.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.header-spacing {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.login-button-spacing {
  margin-top: 2rem;
}

.custom-header {
  font-style: oblique;
  opacity: .4;
}
