input:focus, textarea:focus {
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
  box-shadow: none;
}

:focus {
  outline: none;
}
