<div class="modal-header">
  <h4 class="modal-title">Account settings</h4>
  <button class="close" (click)="activeModal.dismiss()">×</button>
</div>
<div class="modal-body">
  <div class="row py-3 mx-3">
    <div class="col-5 offset-1">User:</div>
    <div class="col-6">{{user.name}} {{user.surname}}</div>
  </div>
  <div class="row border-top py-3 mx-3">
    <div class="col-5 offset-1">Email:</div>
    <div class="col-6">{{user.email}}</div>
  </div>
  <div class="row border-top py-3 mx-3">
    <div class="col-5 offset-1">Storage:</div>
    <div class="col-6">{{'39 MB user of 500 MB'}}</div>
  </div>
  <div class="row border-top py-3 mx-3 align-items-baseline">
    <div class="col-5 offset-1">Account:</div>
    <div class="col-6">
      <button class="btn btn-link font-italic text-info" (click)="activeModal.close({delete: true})">
        Delete
      </button>
    </div>
  </div>
</div>
