<div class="files-container">

  <div class="info-container">
    <mat-card class="first-card mat-elevation-z24">
      <mat-card-header>
        <mat-card-title style="font-size: 35px; padding-bottom: 10px">Storage</mat-card-title>
        <mat-card-subtitle style="color: white"> {{user.stored | numberToSize}} of {{user.limit | numberToSize}} used</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-bar mat-line
                          mode="determinate"
                          style="width: 30vw; height: 12px; border-radius: 20px;"
                          color="warn"
                          [value]="(user.stored / user.limit) * 100">
        </mat-progress-bar>
      </mat-card-content>
      <mat-divider style="background: white"></mat-divider>
      <mat-card-footer class="card-footer-container">
        <mat-icon style="color: white; margin-right: 12px; font-weight: bolder">warning</mat-icon>
        <span>You have reached {{user.stored / user.limit | percent}} space!</span>
      </mat-card-footer>
    </mat-card>
    <mat-card class="second-card mat-elevation-z24">
      <mat-card-header>
        <mat-card-title style="font-size: 35px; padding-bottom: 10px">Subscribe</mat-card-title>
        <mat-card-subtitle style="color: white; font-style: italic; font-size: 20px;">Upgrade your current plan</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="width: 30vw">
          Choose the PrimeBox plan that's right for you
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="'/drive/storage'">UPGRADE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="double-input-container">
    <mat-form-field class="half-width">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-label>Upload</mat-label>
      <input matInput (click)="onFileInputClick(fileInput)">
    </mat-form-field>
    <input hidden type="file" #fileInput
           (input)="handleAttachmentChange($event.target.files)">
  </div>

  <div class="table-container">
    <table mat-table class="full-width" *ngIf="!!dataSource" [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> File</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon>{{row.filename | icon}}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let row"> {{row.filename}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size</th>
        <td mat-cell *matCellDef="let row"> {{row.size | numberToSize}} </td>
      </ng-container>

      <ng-container matColumnDef="lastModified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last modified</th>
        <td mat-cell *matCellDef="let row"> {{row.lastModified | date}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="downloadFile(row)">
              <mat-icon>cloud_download</mat-icon>
              <span>Download</span>
            </button>
            <button mat-menu-item (click)="shareFile(row)">
              <mat-icon>share</mat-icon>
              <span>Share</span>
            </button>
            <button mat-menu-item (click)="deleteFile(row)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>
